<% include partials/header %>
    <h1>The Movie Hut</h1>
    <br>
    <h2>Update <%= movie.title %></h2> <img src='<%= movie.poster %>' height="400" width="300">
    <form class="form">
        <% Object.keys(movie).forEach(function(key){ %>
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <%=key%>
                    </div>
                    <input type="text" class="form-control" id="<%=key%>" placeholder="Amount" value="<%= movie[key] %>"> </div>
        </div>
        
        <% }); %>
        <button type="submit" class="btn btn-primary">Update Movie</button>
    </form>
<% include partials/footer %>